/* ----------- Mobile Device larger than 360px wide -------*/
@media (min-width: 360px) {
  body {
    background: rgb(240, 41, 240);
  }
}


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
  body {
    background: yellow;
  }
}
